body {
  margin: 0;
}
#mapid {
  height: 100%;
  width: 100%;
}

.gauge {
  width: 100%;
  height: 105px;
}

.popup .leaflet-popup-content-wrapper {
  height: 150px;
  width: 150px;
  user-select: none;
  cursor: pointer;
}

.popup p {
  margin: 2px;
}

a {
  text-decoration: none;
}

#open-popup {
  padding: 20px;
}
.white-popup {
  position: relative;
  background: #fff;
  padding: 40px;
  width: auto;
  min-height: 500px;
  max-width: 50%;
  margin: 20px auto;
  text-align: center;
  user-select: none;
}
